* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

  /* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .head-text{
    align-self: center;
}
.container .head-text p{
    text-align: center;
    color: #0a58ca;
    margin: 10px 50px 0 50px;
    text-transform: uppercase;
    position: relative;
    font-size: 25px;
}
.container .head-text h2{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.container .head-text h2::after{
    content: "";
    position: absolute;
    left: 47%;
    background-color: #0a58ca;
    width: 75px;
    height: 2px;
    top: 15%;
}

.container .body-boxes{
    display: flex;
    justify-content: center;
}
@media (max-width:1199px) {
    .container .head-text p::after{
        left: 58%;
    }
}
@media (max-width:991px) {
    .container .head-text p::after{
        left: 60%;
    }
}
@media (max-width:767px) {
    .container .head-text p::after{
        left: 66%;
    }
    .container .head-text h2{
        font-size: 30px;
    }
    .container .body-boxes{
        flex-wrap: wrap;
    }
}

img{
    width: 100%;
    height: auto;
}
.container .body-boxes .box{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 8px;
    border: 1px solid transparent;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 7%);
    transition: 0.6s;
}
.container .body-boxes .box:hover{
    transform: scale(1.05);
}
.container .body-boxes .box h5::before{
    content: "";
    position: absolute;
    left: 33%;
    top: 63%;
    width: 45px;
    height: 45px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-radius: 7px;
    transform: rotate(44deg);
    background-color: white;
}
.container .body-boxes .box h5::after{
    content: "+";
    position: absolute;
    top: 63%;
    left: 34%;
    color: #0a58ca;
    size: 17px;
    font-size: 23px;
    font-weight: 900;
}

.container .body-boxes .box h5{
    text-align: center;
    font-weight: bolder;
    margin: 5px 5px 8px 20px;
    font-size: 19px;
    text-transform: capitalize;
}
.container .body-boxes .box p{
    text-align: center;
    color: #0a58ca;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 5px 20px 20px
}

